# global config file
export PATH="/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/sbin:/usr/local/bin"

# Offline mode? When '0' - always try to use checkin_server to 
# receive profiles and post results.
OFFLINE_MODE=0

# Primary server to fetch/upload jobs/result
checkin_server="http://perf.spacevm.ru"
url="${checkin_server}"

BENCH_CONF_URL="${checkin_server}/test.conf"
BENCH_INDEX_URL="${checkin_server}/fio/index.tests"

CURR_VERSION="0.1"
USE_TOR=NO
DO_LOG_NET_TRAFFIC=1

# CURL Opts
CURL_OPT="--connect-timeout 8 --max-time 16 -L -s"

send_stats_log="/var/log/send-perf-stats-log"
checkin_server_description=${checkin_server}
nc_host=${checkin_server}
nc_port=80
http_header_proxy_auth=""
timeout=10

# skip any pools with the specified file systems, comma-separated when multiple, e.g.:
#FILESYSTEM_TYPE_BLACKLIST="zfs ext4 gfs2"
FILESYSTEM_TYPE_BLACKLIST=
