TYPE="fio"

FIO_DIRECTORY="/tmp/test"
FIO_RUNTIME="60"
# when empty - auto-detect
#FIO_BS="4k"
#FIO_IOENGINE="psync"
FIO_IOENGINE="posixaio"
#FIO_SYNC="${SYNC_TYPE}"
#FIO_DIRECT="${DIRECT}"
FIO_NUMJOBS="8"
FIO_SIZE="2g"
FIO_IODEPTH="16"
FIO_RWMIXREAD="50"

# when empty - auto-detect
#FIO_DIRECT="1"

#rw=randwrite
#ioengine=posixaio
#iodepth=16
#numjobs=8
