Package: spacevm-sendfio
Version: 0.4
Architecture: amd64
Maintainer: space team <info@spacevm.org>
Depends: jq, curl, fio, binutils
Provides: spacevm-sendfio
Section: devel
Priority: extra
Homepage: http://spacevm.ru
Description: SpaceVM utils files.
  (c) 2023-2024 LLC «DACOM M»
