Package: mybee-sendfio
Version: 0.4
Architecture: amd64
Maintainer: MyBee team <info@convectix.com>
Depends: jq, curl, fio, binutils, bsdextrautils
Provides: mybee-sendfio
Section: devel
Priority: extra
Homepage: http://fio.beeru.online
Description: MyBee sendfio files.
  (c) 2022-2024 MyBee Project.
